@font-face {
    font-family: 'suisse-400';
    src: var(--suisse-font-url) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #1C1C1E;
    color: #ffffff;
    font-family: 'suisse-400','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*#424242*/