@font-face {
    font-family: 'suisse-400';
    src: url('../suisse-intl-400-normal.woff2') format('woff2');
    font-weight: 400;
}


body {
    background-color: #1C1C1E;
    color: #ffffff;
    font-family: 'suisse-400','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*#424242*/