# Ignore all Cargo build artifacts (any crate)
**/target/

# Lockfile (exclude for library crates)
Cargo.lock

# IDE / editor settings
**/.idea/
**/.vscode/

# Temporary / log files
*.log
*.tmp

# Environment files
.env

**/dist/

**/bruno/

**/txt_export/

server/start_test_server.sh
server/start_test_server_ps.ps1

**/test_responses/